<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">Authentication</div>
                <div class="card-body">
                    <form method="post" th:action="@{/login}"></form>
                    <div class="mb-3 mt-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
                        <span class="text-danger" th:errors="${patient.nom}" th:value="${patient.nom}"></span>

                    </div>
                </div>
        </div>

    </div>

</div>
</body>
</html>